# CODEOWNERS file

# IT Leder Start GJøvik and repsonsible for 
* @kjetikin

# Deployment responsible
/.github/* @kjetikin

# @sanity-team is responsible for the /app/(sanity)/ folder
/app/(sanity)/* @sanity-team

# Web Developers are repsonsible for the app itself that is found inside the /app/(site)/ folder
/app/(site)/* @web-utviklere
